    <div id="post_form">
    <%= form_for(:post, url: posts_path, html: {class: "form", id: "create_post"}, remote: true) do |f| %>
      <div class="input-group">
        <%= f.text_field :content, class: "form-control",
                                                    placeholder: "What's on your mind..." %>
        <div class="input-group-btn">
            <%= f.submit "Post", class: "btn btn-default pull-right" %>
          </div>
      </div>
    <% end %>
    </div>



