<div class="well clearfix">
  <div class="form">
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.text_field :content, class: "form-control input-lg",
                                                  placeholder: "What's on your mind..." %>
    </div>
    <div class="form-group">
      <%= f.submit "Edit", class: "btn btn-default pull-right" %>
    </div>
  <% end %>
  </div>
</div>
