  <div class="jumbotron">
    <div class="container">
      <h1>Welcome, <%= current_user.name %>!</h1>
      <p>Good to have you back.</p>
    </div>
  </div>

  <h2 class="text-center">Feed</h2>

  <%= render 'shared/create_post' %>

  <%= render @posts %>


